"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: null
concurrency:
  group: concurrency-group::${{ github.workflow }}::${{ github.event.pull_request.number > 0 && format('pr-{0}', github.event.pull_request.number) || github.ref_name }}${{ github.ref_name == 'main' && format('::{0}', github.run_id) || ''}}
  cancel-in-progress: ${{ github.ref_name != 'main' }}
jobs:
  test:
    uses: bazel-contrib/.github/.github/workflows/bazel.yaml@v6
    with:
      folders: |-
        [
          ".",
          ".github/workflows",
          "e2e/smoke",
          "e2e/bazel6"
        ]
      exclude: |-
        [
          {
            "folder": ".",
            "bzlmodEnabled": false
          },
          {
            "folder": ".github/workflows",
            "bzlmodEnabled": false
          },
          {
            "folder": "e2e/bazel6",
            "bzlmodEnabled": true
          }
        ]
      exclude_windows: true
